@import url('../../../styles.css');

.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    width: 60vw;
    height: 60vh;
    max-width: none;
    max-height: none;
}

.modal-content {
    border-radius: 15px;
    background-color: var(--secondary-color);
    border: none;
    height: 100%;
}

.modal-body {
    padding: 30px;
    height: calc(100% - 56px);
    overflow-y: auto;
}

.form-control {
    border-radius: 8px;
    border: 2px solid #007bff;
    padding: 8px;
}

.btn-primary {
    border-radius: 8px;
}

.modal-save-button {
    background-color:  var(--primary-color);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
  }
  
  .modal-save-button:hover {
    background-color: var(--gray);
  }