<div class="main-container">
    <app-side-menu></app-side-menu>
    <div class="main-content">
        <h1>{{ title }}</h1>
        <p>{{ message }}</p>
        <div>
            <button type="button" class="create-new-button" aria-label="New" (click)="createNewPerson()">
                <span aria-hidden="true">Criar</span>
            </button>
        </div>
        <app-complex-table [Columns]="columns" [DataList]="peopleList"
            (onView)="viewPerson($event)"
            (onEdit)="editPerson($event)"  
            (onDelete)="deletePerson($event)">
            </app-complex-table>
    </div>
</div>